#cloud-config
hostname: ${host_name}
manage_etc_hosts: true
users:
  - name: onidemon
    sudo: ALL=(ALL) NOPASSWD: ALL
    groups: users, admin
    home: /home/onidemon
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${auth_key}
  - name: root
    shell: /bin/bash
    ssh-authorized-keys:
      - ${auth_key}
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
    onidemon:$6$ckqMFAWLfWUELGy0$a55eYcEXwR6oJCiyEuG0D5GFihN7Fdkpznfu6bZVlAxkXxaCPO9fXAT559M/wARrmtxgLFyI7jzqFjUX1amgJ1
    root:$6$dl44pQZcI2aU.NB/$9jW92hHbzv8ZInj/T3UJEJEx1PSJ.o/bYdW/TPl43NnR0qu4G.lI/aXBApxoq5CsJVBHcAJIadYCT91JNXitJ1
  expire: False
packages:
  - qemu-guest-agent
