#cloud-config
hostname: ${host_name}
manage_etc_hosts: true
users:
  - name: onidemon
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users
    home: /home/onidemon
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${auth_key}
  - name: root
    shell: /bin/bash
    ssh-authorized-keys:
      - ${auth_key}
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
    onidemon:$6$spYJNYvwi9iOozKo$MwYXzHteNjjULrAoPRA71uMvb1tDwSYo1Er0.j826KjSHZ5FyRS7XqOdBzOKWaVOG8CnaEkhxQIeuFwTRjnZB.
    root:$6$spYJNYvwi9iOozKo$MwYXzHteNjjULrAoPRA71uMvb1tDwSYo1Er0.j826KjSHZ5FyRS7XqOdBzOKWaVOG8CnaEkhxQIeuFwTRjnZB.
  expire: False
packages:
  - qemu-guest-agent
